.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  max-width: fit-content;
  margin-inline: auto;
  border: 6px solid rgb(107, 3, 34);
  padding: 10px;
}

.main {
  align-content: center;
}

.header{
  padding: 10px;
}

.header h1{
  font-weight: bold;
  font-size: 14pt;
  color: mediumorchid
}

body{
  padding: 10px;
  background-color: rgb(187, 240, 237);
}